#banner .banner-content h1 {
    color: blue;
}
#banner .banner-content p {
    color: blue;
}
#social .social-header h4 {
    color: blue;
}
#footer .footer-item1 h4 {
    color: blue;
}
#footer .footer-item2 h4 {
    color: blue;
}
#footer .footer-item3 h4 {
    color: blue;
}
#footer .footer-item4 h4 {
    color: blue;
}
#service .service-header h2 {
    color: blue;
}
#portfolio .port-right-wrapper .port-right-content h4 {
    color: blue;
}
#journal .journal-item .journal-item-header h4 {
    color: blue;
}